/* 不重要 */
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* 重要 copy后的拖动元素样式 */
.react-beatiful-dnd-copy ~ li {
  transform: none !important;
}

/* 拖动时的样式 */
.dragging {
  background: yellow;
  text-align: center;
  font-family: sans-serif;
}

/* 拖动时复制停留在原来空间的样式 */
.react-beatiful-dnd-copy {
  background: lightblue;
}

.react-beatiful-dnd-copy ~ [data-rbd-placeholder-context-id] {
  display: none !important;
}

/* 不重要 */
.shop {
  padding: 10px;
  border: 1px solid #aaa;
}


